<div class="jumbotron" id="banner">
	<div class="flexed">
		<h1 class="homepage-h1 FFFh1">Hello everybody</h1>
		<p class="baseline">This is my app</p>
		<%= link_to "Voir nos projets", projects_path, class: "baseline-logo btn btn-primary col-sm-4 col-sm-offset-4 col-xs-4 col-xs-offset-4" %>
	</div>
</div>

<div class="container-fluid" id="project-list" style="padding-top: 2em">
	<%= render 'projects/list' %>
</div>