<h1>Hello everybody</h1>
<p class="baseline">This is my app</p>
<div class="row">
	<%= link_to "Voir nos projets", projects_path, class: "baseline-logo btn btn-primary col-sm-2 col-sm-offset-5 col-xs-4 col-xs-offset-4" %>
</div>
<div class="container" style="padding-top: 2em">
	<%= render 'projects/list' %>
</div>