	<div class= "row">
		<% @projects.each do |project| %>
				<div class="col-md-4">
					<div class="thumbnail ">
						<% if project.portrait_data? %>
							<%= image_tag project.portrait_url(:portrait), class: "img-responsive" %>
						<% end %>
						<h2><%= project.name %></h2>
						<p><%= project.short_description %></p>
						<%= link_to "Plus d'information", project_url(project), class: "btn btn-primary nav-justified" %>
					</div>

				</div>
		<% end %>
	</div>