<div class="container">
	<div class="panel row" style="margin-top: 2em">
		<div class="col-md-10">
			<h1 style="margin-top: 0 !important;">Voici tous les projets</h1>
		</div>
		
		<div class="col-md-2">
			<%= link_to 'Créer nouveau projet', new_project_path, class: "btn btn-primary center-block", style: "margin-top: 0.45em" %>	
		</div>
	</div>


	<%= render 'list' %>


</div>

