<div class="container">
	<div class="panel row bandeau">
		<div class="col-md-3 bandeau-inner">
			<h1 class="reset">Tous les projets</h1>
		</div>

		<div class="col-md-9 bandeau-inner ">
			<% @categories.each do |category| %>
			<div class="col-md-3">
				<%= link_to category.title, categories_projects_url(category) , class: "btn btn-primary btn-height-limited" %>
			</div>

			<% end %>
		</div>
	</div>	

	<%= render 'list' %>

</div>

