<div class="container">
	<div class="panel row bandeau">
		<div class="col-md-10 bandeau-inner">
			<h1 style="margin-top: 0 !important;">Voici tous les projets</h1>
		</div>
		
		<div class="col-md-2 bandeau-inner">
			<%= link_to 'Créer nouveau projet', new_project_path, class: "btn btn-primary" %>	
		</div>
	</div>

	<div class="panel row bandeau">

		<div class="col-md-4 bandeau-inner">
			<h2 class="reset">Nos catégories</h2>
		</div>
		<div class="col-md-8 bandeau-inner ">
			<% @categories.each do |category| %>
			<div class="col-md-4">
				<%= link_to category.title, '#', class: "btn btn-primary btn-height-limited" %>
			</div>
			<% end %>
		</div>
	</div>	

	<%= render 'list' %>

</div>

