<div class="container">
	<div class="col-lg-12">
		<h1 class="col-md-8"><%= @project.name %></h1>
		<h3 class="ol-md-4" style="padding-top:5em;">Objectif: <%=@project.collect_amount_goal%> €</h3>
	</div>

	<div class="row">

		<div class="col-md-4">
		</div>

		<div class="col-md-8">
			<div class="col-lg-12">
				<p>Le projet en quelques mots : </p>
				<p><%= @project.short_description %></p>
			</div>

			<div class="col-lg-12">
				<p>Tout savoir sur le projet :</p>
				<p><%= @project.long_description %></p>
			</div>
		</div>

	</div>
</div>