// SASS variable overrides must be declared before loading up Active Admin's styles.
//
// To view the variables that Active Admin provides, take a look at
// `app/assets/stylesheets/active_admin/mixins/_variables.scss` in the
// Active Admin source.
//
// For example, to change the sidebar width:
// $sidebar-width: 242px;

// Active Admin's got SASS!
@import "active_admin/mixins";
@import "arctic_admin";

// Overriding any non-variable SASS must be done after the fact.
// For example, to change the default status-tag color:
//
//   .status_tag { background: #6090DB; }

.header-item.tabs#tabs li {
	font-size: 1.15em !important;
	margin-top: 1em;
}

#site_title.site_title { background: #3a5fcd !important; box-shadow: 0px 2.5px 10px #888888; color: #FFF;}
#utility_nav.header-item { background: #3a5fcd !important; color: #FFF; }
.header #utility_nav #current_user a:before { color: #FFF;}
.header #utility_nav #logout a:before { color: #FFF; }


//Hiding Batch Actions => Might need to put them back later
body.index .table_tools .dropdown_menu_button.disabled, body.index .table_tools .dropdown_menu_button:disabled {display: none;}
body.index .table_tools .dropdown_menu_list { display: none; }

.admin_table table { margin-top: 2em;}
.admin_table th {font-size: 1.5em;}
.admin_table td {font-size: 1.15em;}

.btn-view { background: #a3a1a1; padding: 0.15em 0.6em; color: #FFF; border-radius: 5px;}

.aa-index-image { max-width: 8em;}

#attributes_table_project_2 th {min-width: 12em;}
.row-nom_du_projet td, .row-nom_de_la_categorie td { font-weight: 800; font-size: 1.25em;}
.aa-file-field-form { display: block; margin-left: 25em; margin-top: 2.5em;}
.aa-file-field-form.even { margin-top: 3.5em; }
#attributes_table_project_2 tr { line-height: 1.4em;}
.col-description_de_la_categorie { max-width: 23em;}
.col-nom_de_la_categorie { font-weight: 800; }
.aa-show-image { text-align: center;}
#attributes_table_category_1 th { min-width: 30em;}
.col-nombre_de_projets_de_cette_categorie { max-width: 8em;}
.index_table tbody a { text-decoration: underline;}

.col-nombre_de_projets_de_cette_categorie {
	text-align: center;
}

.col-nombre, .col-nombre_total, .col-nombre_disponible {
	text-align: center;
}

.project-box { 
	margin-top: 2em;   
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	transition: all 0.3s 
	cubic-bezier(.25,.8,.25,1);
	position: relative;
	padding: 0.35em;
 }

.project-box:hover {
	  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.project-box .label {
	position: absolute;
	top: 1.5em;
	z-index: 5;
	left: -2px;
	font-size: 1.1em;
	border-radius: 0px 5px 5px 0px;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);	
}

.project-box {
	min-height: 27em;
	max-width: 20em;
}

.project-short-describe {
	min-height: 8em;
	text-align: justify;
	max-width: 20em;
	margin: 0 auto;
	line-height:1.5em;
	padding: 0.5em;
}

.project-name {
	text-align: center;
}

.hidden-aa {
	display: none;
}

.img-aa {
	max-width: 100%;
}


.col-md-12.col-sm-4.bloc-contrepartie {
	display: flex !important;
	float: left !important;
	margin-left: 1em !important;
	margin-top: 3em !important;
	height: 38em;
	background: #FFF;
}

fieldset.inputs.has_many_fields {
	border: 2px solid #3a5fcd;
	padding-top: 1.5em;
}
