/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *
 */
 // "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
 @import "bootstrap-sprockets";
 @import "bootstrap";
 @import "pages";
 @import "users";
 @import "active_admin";
 @import "projects";


 #login-logout {
 	margin-top: 2em;
 	float: right;

 }

 #login-logout a {
 	color:#FFF;
 }

 header {
 	background-color: #183677;
 	color: #FFF;
 	box-shadow: 0px 2.5px 10px #888888;
 	padding-bottom: 1em;
 }

 
 .shared-devise-links {
 	padding: 0.3em 2em;
 	border: solid 1px black;
 }

 .actions {
	margin-top: 2em;
}

#header_title {
	color: #FFF;
	text-decoration: none;
}




