/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *
 */
 // "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
 @import "bootstrap-sprockets";
 @import "bootstrap";
 @import "users";
 @import 'slick';
 @import 'slick-theme';
 @import 'redactor';


body {
	min-height: 40em;
}

 #login-logout {
 	margin-top: 2em;
 	float: right;
 }

 #login-logout a {
 	color:#FFF;
 }

 header {
 	background-color: #183677;
 	color: #FFF;
 	box-shadow: 0px 2.5px 10px #888888;
 	padding-bottom: 1em;
 	position: fixed;
 	width: 100%;
 	top: 0;
 	z-index: 50;
 }

 
 .shared-devise-links {
 	padding: 0.3em 2em;
 	border: solid 1px black;
 }

 .actions {
	margin-top: 2em;
}

#header_title {
	color: #FFF;
	text-decoration: none;
}

.marged {
	margin-top: 1.2em;
}

.btn-height-limited {
	max-height: 2.5em;
}

body {
	padding-top: 4em;
}

.alert-success, .alert-danger {
	position: absolute;
	width: 80%;
	margin-left: 10%;
	top: 6em;
}

.project-box { 
	margin-top: 2em;   
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	transition: all 0.3s 
	cubic-bezier(.25,.8,.25,1);
	position: relative;
	height: 28.5em;
 }

.project-box:hover {
	  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.project-box .label {
	position: absolute;
	top: 1.5em;
	z-index: 5;
	left: -2px;
	font-size: 1.1em;
	border-radius: 0px 5px 5px 0px;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);	
}

.project-box {
	min-height: 27em;
	max-width: 20em;
}

.project-short-describe {
	min-height: 8em;
	text-align: justify;
	max-width: 20em;
	margin: 0 auto;
	line-height:1.5em;
}

.project-name {
	text-align: center;
}

.footer {
	min-height: 18em;
	padding: 4em 0;
	background-color: #183677;
	color: #FFF;
	margin-top: 4em;
}

.footer-inner {
	padding-left: 4em;
}