// Place all the styles related to the categories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#category-description { padding-top: 3.75em; padding-bottom: 3em; background-color: #FFF; }
#category-description p { line-height: 2em;}
#category-description h1 { font-size: 4.5em; }
.project-box { 
	margin-top: 2em;   
}