// Place all the styles related to the LandscapeImage controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.fields {
	margin-top: 3em;
}

.btn-submit a {
	min-height: 2em;
	margin-bottom: 1.5em;
	margin-top: 1em;
}