// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/




.baseline {
	text-align: center;
	font-size: 2em;
}

.baseline-logo {
	text-align: center;
}