// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/




.baseline {
	text-align: center;
	font-size: 2em;
	color: #FFF;
}

.baseline-logo {
	text-align: center;
}

#project-list {
	padding-top: 3em;
	background-color: #FFF;
}

#banner {
	min-height: 45em;
	display: flex;
	background-image: url("banner-image.jpg");
	background-attachment: fixed;
	background-size: cover;

}

.flexed {
	margin: auto;
	text-align: center;
}

.baseline-logo a {
}

.homepage-h1,  {
	margin-top: 1.5em;
	text-align: center;
	font-size: 4em;
}

.FFFh1 {
	color: #FFF !important;
}