// Place all the styles related to the projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.btn-toosm {
	padding-top: 10px !important;
	padding-bottom: 10px !important;
}

.bandeau {
	display: flex;
	min-height: 6em;
	margin-top: 2em;
	position: absolute;
	min-width: 60%;
	bottom: 1em;
	right: 5em;
	background-color: rgba(255, 255, 255, 0.5);
}

.bandeau-index {
	display: flex;
	min-height: 6em;
	margin-top: 2em;
}

.bandeau-inner {
	margin: auto;
}

.bandeau h1 {
	color: #183677;
	font-weight: 800;
}

.project-box {
	height: 27.7em;
	max-width: 20em;
}

.project-short-describe {
	height: 8em !important;
	text-align: justify;
	max-width: 20em;
	margin: 0 auto;
	line-height:1.5em;
}

.project-name {
	text-align: center;
}

.vertical-centered {
	display: flex;
}

.child-vertical-centered {
	margin: auto;
}

.reset {
	margin-top: -5px;
}

.project-banner {
	background-attachment: fixed;
	min-height: 30em;
	position: relative;
	background-repeat: repeat-x;
	background-size: 50%;
}

.infos-projet {
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	margin-top: 2.15em;
	padding: 0 1.5em 2em 2em;
}

.checkbox {

}

.col-md-12.col-sm-4.bloc-contrepartie.thumbnail.counterpart-box {
	height: 38em !important;
}

.flexed {
	display: flex;
}

label.child-vertical-center {
	margin: auto !important;
}

.marged-top-h1 {
	margin-top: 4em;
	margin-bottom: 1em;
}


.contribution-box {
	min-height: 20em; 
}

.contribution-box p {
	padding-left: 1.5em;
	padding-right: 1.5em;	
	text-align: justify;
}

.marged-contribution-action {
	margin-top: 0.5em;
}

.contribution.form-group {
	margin-bottom: 0;
}