// Place all the styles related to the projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.btn-toosm {
	padding-top: 10px !important;
	padding-bottom: 10px !important;
}

.bandeau {
	display: flex;
	min-height: 6em;
	margin-top: 2em;
}

.bandeau-inner {
	margin: auto;
}

.project-box {
	min-height: 28em;
	max-width: 22em;
}

.project-short-describe {
	min-height: 6em;
	text-align: justify;
	max-width: 20em;
	margin: 0 auto;
}

.project-name {
	text-align: center;
}

.vertical-centered {
	display: flex;
}

.child-vertical-centered {
	margin: auto;
}