// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.dashboard-infos {
	margin-top: 5em;
}

.dashboard-infos p {
	font-size: 1.5em;
}

 .actions {
	margin-top: 2em;
}

.field-inner {
	background-color: rgba(0,0,0,0.1);
	margin-bottom: 1em;
	padding-top: 0.65em;
	min-height: 3em;
}

#downed {
	margin-top: 3em;
}

.btn-larger {
	padding: 0.3em 3.5em;
}

.input-group {
	margin-top: 1.5em;
	margin-bottom: 1.5em;
}

